@use "./partials/variable" as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'node_modules/@fontsource/poppins/index.css';
@import "node_modules/@tomtom-international/web-sdk-maps/dist/maps.css";

body {
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

// COMMON
.ms-btn {
    color: white;
    padding: 1.2rem;
    border: none;
    border-radius: 30px;
    font-size: .9rem;
}

.ms-btn-filter {
    color: white;
    padding: 1rem 2.2rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
}